.navbar{
    background-color:$color-white;
    grid-column: center-start/ center-end;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9rem ;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    // width: 80%;
    // &__logo{
    //     object-fit: contain;
    // }
    & .open-menu{
        display: none;
      }
      & .close-menu{
        display: none;
      }

    @include respond(phone){
        // grid-template-columns: .5fr 1fr;
        .open-menu{
            justify-self: flex-end;
            display: block;
            color: $color-black !important;
            cursor: pointer; 
            background-color: $color-white;
        
            &.notShowMenu {
              display: none;
              }
          }
          
          .close-menu{
            justify-self: flex-end;
            cursor: pointer;
            color: $color-black;
            background-color: $color-white;
        
            &.notShowMenu {
              display: block;
              }
          }
    }

}

.nav{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include respond(phone ){
            //justify-self: center;
            gap: 5rem;
            position: fixed;
            z-index: 1000;
            top: 100px;
            right: -100%;
            flex-direction: column;
            padding: 5rem 2.5rem;
            width: 100%;
            height: 550px;
            text-align: center;
            justify-content: center;
            align-items: center;
            border-radius: 2rem;
            background-color: $color-off-white;
            //background: transparent;
            backdrop-filter: blur(10px);
            box-shadow: 0 5px 30px rgba(39, 40, 41, 0.6);
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
           
            

            &.show   {
                right: 0;
              }
 }
      
    
    &__link{
        //margin-right: 2rem;
        font-size: $small-font;
        color: $secondary-text;
        border-bottom: .3rem transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;
        -webkit-transition: border-color 0.5s;
        -moz-transition: border-color 0.5s;
        -ms-transition: border-color 0.5s;
        -o-transition: border-color 0.5s;
        
        @include respond(phone){
            font-size: 2.9rem;
            padding-bottom: 1rem;
            border-bottom: .7rem transparent solid;
        }

        &:hover{
            border-color: $green-primary;
        }
        &.current-page{
            border-color: $color-black;
        }
}
    &__btn{
        margin-left: 2.5rem;
        // align-self: flex-end;
    }
}

