.donate__contribute{
    // background-color: aqua;
    grid-column: full-start / full-end;
    margin-bottom: 10rem;
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    align-items: center;


    .donate__nav{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       align-items: center;
       justify-content: center;
       padding: 1rem;
       border-bottom: 1px solid #E5E5E5;
       border-bottom:  1px solid #E5E5E5 ;
       transition: border-color 0.5;
       -webkit-transition: border-color 0.5;
       -moz-transition: border-color 0.5;
       -ms-transition: border-color 0.5;
       -o-transition: border-color 0.5;
        
       &:hover{
        border-color:  #70C174;
      }
        li{
            a{
                  @include heading_secondary($small-font,$primary-text);

            }
       
        }
    }
}