// COLOR VARIABLES
$green-primary:#70C174;
$green-secondary:#BEF3C0;
$green-tertiary:#EFF7F2;

$color-black:#0B0706;
$color-light-black:#1C1D28;
$color-white:#fff;
$primary-text:#1D2130;
$secondary-text:#1D2130;
$color-off-white:#EBF0F9;
$color-border:#EBF0F9;
$color-purple:#AC94F1;
$caremel:#FFF0CA;
$yellow:#F9CF64;
$hot-pink:#F38FBF;


// FONT SIZE
$medium-font:4.6rem;
$small-font:1.6rem;
$mini-font:2rem;
$larage-font:6rem;


// FONT FAMILY
$font-primary: 'Roboto', sans-serif;


// Responsive Breakpoints
// $bp-largest: 75em; // 1200px;
// $bp-large: 62.5em; // 1000px;
// $bp-medium: 50em; // 800px
// $bp-small: 37.5em; // 600px;